.bg-amarelo{
    background: #e6bc2f;
}

.bg-azul{
    background: #30a7d7;
}

.bg-azul-escuro{
    background: #054f8c;
}

.bg-cinza{
    background: #898989FF;
}

.bg-cinza-claro{
    background: #f2f2f2;
}

.bg-cinza-escuro{
    background: #1f1f1f;
}

.bg-cinza-metal{
    background: #9eb7b8;
}

.bg-laranja{
    background: #ee6b2f;
}

.bg-marrom-claro{
    background: #a38c21;
}

.bg-rosa-claro{
    background: #fdb8e8;
}

.bg-rosa-choque{
    background: #f366b9;
}

.bg-roxo{
    background: #b97fc9;
}

.bg-roxo-escuro{
    background: #7b62a3;
}

.bg-verde{
    background: #4dad5b;
}

.bg-vermelho{
    background: #E3350DFF;
}