.tx-amarelo{
    color: #e6bc2f;
}

.tx-azul{
    color: #30a7d7;
}

.tx-azul-escuro{
    color: #054f8c;
}

.tx-cinza{
    color: #898989FF;
}

.tx-cinza-claro{
    color: #f2f2f2;
}

.tx-cinza-escuro{
    color: #1f1f1f;
}

.tx-cinza-metal{
    color: #9eb7b8;
}

.tx-laranja{
    color: #ee6b2f;
}

.tx-marrom-claro{
    color: #a38c21;
}

.tx-roxo{
    color: #b97fc9;
}

.tx-roxo-escuro{
    color: #7b62a3;
}

.tx-rosa-claro{
    color: #fdb8e8;
}

.tx-rosa-choque{
    color: #f366b9;
}

.tx-verde{
    color: #4dad5b;
}

.tx-vermelho{
    color: #E3350DFF;
}